<div class="container">
	<mat-card>  
	  <form >
	  	<div>
	  		<mat-form-field>
		      <input matInput type="email" placeholder="E-Mail" required>
		    </mat-form-field>
	  	</div>
	    <div>
	    	<mat-form-field>
		      <input matInput type="password"  placeholder="Password"  required>      
		    </mat-form-field>
	    </div>
	    
	    <button mat-raised-button color="accent" type="submit" >SignUp</button>
	  </form>
	</mat-card>
</div>

