
<mat-toolbar color="primary">
  
<span>
	<div>
		In  <img src="../img/logo.jpg" class="img-circle"/>
	</div>
    <a>Instantigo</a>
  </span>
      <a mat-button routerLinkActive="mat-accent">Flight</a>
   
      <a mat-button >Hotel</a>

      <a mat-button >Cab</a>
    
   <span class="spacer"></span>
  
   
      <a mat-button >Login</a>
    
      <a mat-button >Signup</a>
   
</mat-toolbar>

<app-search></app-search>
